[user]
	email = rqtx@protonmail.com
  name = Igor Fernandes Miranda
	signingkey = 23B283FE5B23B65B

[diff]
  external = ~/.local/bin/git_diff_wrapper

[pager]
  diff =

[color]
  ui = auto
[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	gpgsign = true
